<div id="calendar-wrapper" class="perspective-1000 relative">
    <div id="calendar" data-testid="calendar" class="{% if model.rotated %}rotate-y-180 [.htmx-swapping_>_&]:rotate-y-0{% endif %} duration-1000 ease-in-out absolute max-h-96 aspect-[7/5] m-auto top-10 inset-x-10 rounded-lg bg-black shadow-2xl backface-hidden">
        <div class="p-3 grid grid-cols-7 grid-rows-5">
            {% for i in model.previousMonthDays %}
            <div data-testid="prev-month-day-{{ i }}" class="day-other-month">{{ i }}</div>
            {% endfor %}
            {% for day in model.days %}
            <button data-testid="day-{{ loop.index + 1 }}" hx-get="{{ day }}" hx-target="#calendar-wrapper" hx-push-url="true" hx-swap="outerHTML" class="day-ready">{{ loop.index + 1 }}</button>
            {% endfor %}
            {% for i in model.nextMonthDays %}
            <div data-testid="next-month-day-{{ i }}" class="day-other-month">{{ i }}</div>
            {% endfor %}
        </div>
    </div>
    <div id="day" class="{% if not model.rotated %}-rotate-y-180{% else %}[.htmx-swapping_>_&]:-rotate-y-180{% endif %} duration-1000 ease-in-out absolute max-h-96 aspect-[7/5] m-auto top-10 inset-x-10 flex rounded-lg shadow-2xl backface-hidden">
        <div class="relative flex grow items-center justify-center text-center">
            <button data-testid="back" hx-get="{{ model.backLink }}" hx-target="#calendar-wrapper" hx-push-url="true" hx-swap="outerHTML swap:1s" class="absolute text-xl left-5 top-3"><i class="fa-solid fa-arrow-left"></i></button>
            <div data-testid="day-text">{{ model.text }}</div>
        </div>
    </div>
</div>
