<div class="grid grid-cols-7">
    {% for i in model.previousMonthDays %}
    <div data-testid="prev-month-day-{{ i }}" class="day-other-month">{{ i }}</div>
    {% endfor %}
    {% for day in model.days %}
    <button data-testid="day-{{ loop.index + 1 }}" hx-get="{{ day.link }}" hx-target="#calendar-content" hx-swap="innerHTML transition:true" {% if day.disabled %}disabled{% endif %} class="{% if day.disabled %}day-closed{% elseif day.opened %}day-opened{% else %}day-ready{% endif %}" style="view-transition-name: day-{{ loop.index + 1 }};">{{ loop.index + 1 }}</button>
    {% endfor %}
    {% for i in model.nextMonthDays %}
    <div data-testid="next-month-day-{{ i }}" class="day-other-month">{{ i }}</div>
    {% endfor %}
</div>
