<div class="grid grid-cols-7">
    {% for i in model.previousMonthDays %}
    <div data-testid="prev-month-day-{{ i }}" class="day-other-month">{{ i }}</div>
    {% endfor %}
    {% for day in model.days %}
    <div data-testid="day-{{ loop.index + 1 }}-wrapper" class="relative inline-grid items-center">
        <button data-testid="day-{{ loop.index + 1 }}" hx-get="{{ day.link }}" hx-target="#calendar-content" hx-swap="innerHTML transition:true" {% if day.disabled %}disabled{% endif %} class="{% if day.disabled %}day-closed{% elseif day.opened %}day-opened{% else %}day-ready bg-clickable-day-{{ day.colorIndex }}{% endif %} relative duration-200 ease-in-out" style="view-transition-name: day-{{ loop.index + 1 }};">{{ loop.index + 1 }}</button>
        {% if day.showClickMeTooltip %}<div data-testid="click-me" class="pointer-events-none absolute z-10 left-full w-20 sm:w-24 rounded-r-lg rounded-l-sm p-1 sm:p-2 pl-0 bg-blue-300 dark:bg-blue-700 border-2 border-black dark:border-white dark:text-white text-center motion-safe:animate-bounce-x-8 after:absolute after:right-full after:border-[16px] after:sm:border-[20px] after:-mt-1 after:sm:-mt-2 after:border-transparent after:border-r-blue-300 dark:after:border-r-blue-700 before:absolute before:right-full before:border-[19px] before:sm:border-[23px] before:-mt-[7px] before:sm:-mt-[11px] before:border-transparent before:border-r-black dark:before:border-r-white before:rounded-md">click me</div>{% endif %}
    </div>
    {% endfor %}
    {% for i in model.nextMonthDays %}
    <div data-testid="next-month-day-{{ i }}" class="day-other-month">{{ i }}</div>
    {% endfor %}
</div>
